aniso8601
asgiref
boto3
botocore
certifi
charset-normalizer
cloudinary
distlib
dj-database-url
Django
django-ckeditor
django-cloudinary-storage
django-crispy-forms
django-filter
django-js-asset
django-on-heroku
django-storages
docutils
filelock
graphene-django
graphql-core
graphql-relay
gunicorn
idna
jmespath
Pillow
pipenv
platformdirs
promise
psycopg2-binary
python-dateutil
python-decouple
pytz
requests
Rx
s3transfer
singledispatch
six
sqlparse
text-unidecode
urllib3
virtualenv
virtualenv-clone
whitenoise
