
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
  .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    /* font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
    text-transform: uppercase;
    /* color: rgba(255, 255, 255, 0.5); */
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
</style>
<div class="section footer-classic context-dark bg-image" style="background: #2d3246;">
<div class="container ">
  <div class="row row-30">
    <div class="col-md-4 col-xl-5">
      <div class="pr-xl-4"><a class="brand" href="/"><img class="brand-logo-light rounded-circle" src="https://thatminute.herokuapp.com/static/images/logo.png" alt="" width="80" height="80" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
        <h6>My aim is to build a WebApp that completely captures the clients' requirements with a view that captures the users attention, while not forgetting to keep the app simple in its usebility. <br> Efficiency and Effectiveness not left behind.</h6>
        <!-- Rights-->
        <p class="rights"><span>©  </span><span class="copyright-year">2022</span><span> </span><span>Cotechlevy</span><span>. </span><span>All Rights Reserved.</span></p>

        <div class="box-bottom mt-5 mb-3 text-center" style="font-size: 14px">
          <strong><span style="text-decoration: underline; cursor: pointer;">
            <a href="#" style="color: blue;"> Terms of Service</a></span></strong>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Contacts</h5>
      <dl class="contact-list">
        <dt>Address:</dt>
        <dd>5922-00100 Moi Avenue, Nairobi, Kenya</dd>
      </dl>
      <dl class="contact-list">
        <dt>Email:</dt>
        <dd><a href="mailto:cotechlevy@gmail.com">cotechlevy@gmail.com</a></dd>
      </dl>
      <dl class="contact-list">
        <dt>Websites:</dt>
        <dd><a href="tel:#">https://cotechdev.com</a> or <a href="tel:#">https://cotechcompany.com</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-xl-3">
      <h5>Links</h5>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="/">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="mailto:cotechlevy@gmail.com">Contacts</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row no-gutters social-container">
  <div class="col"><a class="social-inner" href="https://www.facebook.com/people/Levy-Omolo/100009697989580/"><img src="/static/images/facebook.svg" alt="" height="30px" width="30px"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
  <div class="col"><a class="social-inner" href="https://www.instagram.com/levyomolo/"><img src="/static/images/instagram.svg" alt="" height="30px" width="30px"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
  <div class="col"><a class="social-inner" href="https://twitter.com/Kaylor254"><img src="/static/images/twitter.svg" alt="" height="30px" width="30px"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
  <div class="col"><a class="social-inner" href="https://www.google.com/search?q=Levy+Omolo&oq=Levy+Omolo&aqs=chrome..69i57j69i64j69i60l3.5401j0j15&sourceid=chrome&ie=UTF-8"><img src="/static/images/google.svg" alt="" height="25px" width="25px"><span class="icon mdi mdi-youtube-play">google</span></a></div>
</div>
</div>