<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Levy Omolo Cotech" />
	<!-- Theme Metadata -->
	<meta name="theme-color" content="#222222" />
	<!-- Keyword Metadata -->
	<meta
		name="keywords"
		content="Levy Cotech, Levy Omolo Cotech, Levy Omolo Cotech Portfolio,
		  Levy Omolo Cotech AI-ML, Levy Omolo Cotech Moringa, Levy
		  Omolo Moringa School, Levy Omolo Maseno University, Levy Cotech
		  Omolo Maseno, Levy Omolo Cotech SE, Levy Omolo Kenya,
		  Levy Omolo Cotech, Levy Omolo Cotech Website, Cotech L Omolo"
	/>
	<!--OpenGraph Metadata-->
	<!--OpenGraph Title-->
	<meta name="title" property="og:title" content="Levy Omolo Cotech" />
	<!--OpenGraph Description-->
	<meta
		name="description"
		property="og:description"
		content="Levy Omolo Cotech. Software Developer @ Moringa School, Computer Science @ Maseno University, Full-Stack Web
		  Developer. I'm actively searching for Software Engineering and/or Web Development internships for
		  2022!"
	/>
	<!--OpenGraph Type-->
	<meta property="og:type" content="website" />
	<!--OpenGraph Image-->
	<meta name="image" property="og:image" content="https://avatars.githubusercontent.com/u/89441139?v=4" />
	<!-- Webpage Logo -->
	<title>Levy Omolo Cotech</title>
	<link rel="icon" href="https://avatars.githubusercontent.com/u/89441139?v=4" />

	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
  
        gtag('config', 'UA-47692315-56');
      </script>
  
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  
      <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
  
      <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
</head>
<body>

    {% include 'base/navbar.html' %}

	{% block content %}
	<!-- Content goes here -->
	{% endblock content %}

    

</body>
</html>