:root{
	--mainColor:#000000;
	--secondaryColor:#2e2727;

	--borderColor:#ffc400;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(0, 0, 0, 0.8);
	--previewShadow:#000000;


	--buttonColor:#0b1fce;


}
