{% include 'base/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	#user_pic {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border: 5px solid #888;
		margin: 0 auto;
		object-fit: cover;
	}

	#user-info-box {
		text-align: center;
	}
</style>

<div class="main-container">
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="card card-body" id="user-info-box">
				<img id="profile_pic" src="{% static 'images/Levy.jpg' %}">
				<br>
				<h5>Full Stack Developer</h5>
				<hr>
				<a class="btn btn-info btn-block" href="{% url 'contact' %}">Hire me</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card card-body">
				<div class="about-wrapper">
					<div class="about-me">
						<h4>About Me</h4>

						<p>I am a Full Stack Developer working on serious software projects
							and currently serious with Django + Angular/React. <br>Planning to transition to 
							Machine Learning in the name of love for Artificial Intelligence(AI).<br>
							I am a close follower and a committed fan of Kaggle Competitions and Projects.<br>

							I'm always willing and ready to <strong>learn new techs</strong> relevant to my career path and interest.
						</p>

						<p>This is how and why I landed or found myself here. I admit that I'm learning a lot day by day.</p>
						<hr>

						<div class="social-links">
							<br>
							<!-- <h4>Find me on <a class="badge-base__link LI-simple-link" href="https://ke.linkedin.com/in/levy-omolo-43236222a?trk=profile-badge"><img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-linkedin-social-media-justicon-flat-justicon.png" alt="" height="30px" width="30px"> Levy Omolo</a></h4> -->
							<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large"
								data-theme="dark" data-type="HORIZONTAL" data-vanity="levy-omolo" data-version="v1">
								<h6><a class="badge-base__link LI-simple-link"
										href="https://ke.linkedin.com/in/levy-omolo?trk=profile-badge">Levy Omolo</a>
								</h6>
							</div>

							<h3>Find me on Twitter & Github</h3>

							<a target="_blank" href="https://github.com/omololevy"><img src="/static/images/github.svg"
									alt="" height="30px" width="30px"><br> @Levy Cotech</a><br>
							<br>
							<a target="_blank" href="https://twitter.com/kaylor254"><img
									src="/static/images/twitter.svg" alt="" height="30px" width="30px"> <br>
								@kaylor254</a><br>

						</div>
						<h5>
							<a target="_blank" href="{% static 'resume.pdf' %}">Check my Résumé <br> <img
									src="https://img.icons8.com/color/48/000000/document--v2.png" /></a>
						</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}