{% include 'base/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	#user_pic{
		height: 200px;
		width: 200px;
		border-radius: 50%;
		border:5px solid #888;
		margin:0 auto;
		object-fit: cover;
	}

	#user-info-box{
		text-align: center;
	}
</style>

<div class="main-container">
	<br>
	<div class="row">
		<div class="col-md-4">
			<div class="card card-body" id="user-info-box">
				<img id="profile_pic" src="{% static 'images/Levy.jpg' %}">
				<br>
				<h5>Full Stack Developer</h5>
				<hr>
				<a class="btn btn-info btn-block" href="{% url 'contact' %}">Hire me</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card card-body">
				<h3>Education:</h3>
				<hr>
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>Period</th>
							<th>Institution</th>
							<th>Course</th>
							<th>More</th>
							<th></th>
						</tr>
					</thead>
					<tr>
						<td>2021 - 2022</td>
						<td>Moringa School</td>
						<td>Software Development</td>
						<td><a class="btn btn-dark btn-sm" href="">View</a></td>
					</tr>
					<tr>
						<td>2016 - 2020</td>
						<td>Maseno University</td>
						<td>BSc. Computer Science</td>
						<td><a class="btn btn-dark btn-sm" href="">View</a></td>
					</tr>

					<tr>
						<td>2011 - 2014</td>
						<td>Wang'apala High School</td>
						<td>Secondary Education</td>
						<td><a class="btn btn-dark btn-sm" href="">View</a></td>
					</tr>
					<tr>
						<td>2003 - 2010</td>
						<td>God-Agulu Primary</td>
						<td>Primary Education</td>
						<td><a class="btn btn-dark btn-sm" href="" target="blank">View</a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
