<!DOCTYPE html>
{% load static %}
<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-47692315-56');
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">

	<meta name="author" content="Levy Omolo Cotech" />
	<!-- Theme Metadata -->
	<meta name="theme-color" content="#222222" />
	<!-- Keyword Metadata -->
	<meta
		name="keywords"
		content="Levy Cotech, Levy Omolo Cotech, Levy Omolo Cotech Portfolio,
		  Levy Omolo Cotech AI-ML, Levy Omolo Cotech Moringa, Levy
		  Omolo Moringa School, Levy Omolo Maseno University, Levy Cotech
		  Omolo Maseno, Levy Omolo Cotech SE, Levy Omolo Kenya,
		  Levy Omolo Cotech, Levy Omolo Cotech Website, Cotech L Omolo"
	/>
	<!--OpenGraph Metadata-->
	<!--OpenGraph Title-->
	<meta name="title" property="og:title" content="Levy Omolo Cotech" />
	<!--OpenGraph Description-->
	<meta
		name="description"
		property="og:description"
		content="Levy Omolo Cotech. Software Developer @ Moringa School, Computer Science @ Maseno University, Full-Stack Web
		  Developer. I'm actively searching for Software Engineering and/or Web Development internships for
		  2022!"
	/>
	<!--OpenGraph Type-->
	<meta property="og:type" content="website" />
	<!--OpenGraph Image-->
	<meta name="image" property="og:image" content="https://avatars.githubusercontent.com/u/89441139?v=4" />
	<!-- Webpage Logo -->
	<title>Levy Omolo Cotech</title>
	<link rel="icon" style="border-radius: 50%;" href="https://avatars.githubusercontent.com/u/89441139?v=4" />
	    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/61d08b4d80b2296cfdd49e96/1foba0as1';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</head>
<body>
	<style>
		.resume-btn {
			border-color: cyan;
			margin-left: 4px;
			margin-top: 6px;
			border-radius: 15px;
			background-color: transparent;
			color: rgb(255, 255, 255);
			text-align: center;
		}
		.resume-btn:hover{
			background-color: rgb(85, 190, 171);
			border-color: transparent;
			color: black;
		}

	</style>
	{% include 'base/navbar.html' %}
	
	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Levy Omolo</h1>
			</div>


			<div class="intro-wrapper">
				

				<div class="left-column">
					<img id="profile_pic" src="{% static 'images/Levy.jpg' %}">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am a Full Stack Developer student, working on serious projects.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>About Me</h4>

					<p>I am an enthusiast of AI incapacitated by inadequate programming skills and resolved to take away the problem first.</p>

					<p>This is how and why I landed or found myself here. I admit that I'm learning a lot.</p>


					<hr>

					<h4>TOP SKILLS</h4>

					<p>Fullstack developer with primary focus on Django + Angular.</p>

					<div id="skills">
						<ul> 
							<h4>Languages and Frameworks</h4>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/python.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Python</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="https://img.icons8.com/external-tal-revivo-filled-tal-revivo/96/000000/external-django-a-high-level-python-web-framework-that-encourages-rapid-development-logo-filled-tal-revivo.png" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Django</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="https://img.icons8.com/ios/100/000000/flask.png" alt="" height="30px" width="30px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Flask</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/javascript.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Javascript</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/jquery.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >JQuery</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/angularjs.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Angular</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/postgresql.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Postgresql</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/html-5.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >HTML</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/css3.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >CSS</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/bootstrap.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Bootstrap</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="https://img.icons8.com/color/48/000000/typescript.png" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Typescript</span>
								</Row>
							</Button>
						</ul> <br>

						<ul> <h4>Tools</h4>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/git.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 25px;" >Git</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/github.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 20px;" >GitHub</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/heroku.svg" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 20px;" >Heroku</span>
								</Row>
							</Button>
							<Button class ="resume-btn" size="md"  target="_blank">
								<Row>
									<img src="/static/images/postman.png" alt="" height="25px" width="25px"> 
									<span style="padding: 0px 5px; font-size: 20px;" >Postman</span>
								</Row>
							</Button>
							
						</ul>

					</div>
					<h5> <a target="_blank" href="{% static 'resume.pdf' %}">Check my Résumé <br> <img src="https://img.icons8.com/color/48/000000/document--v2.png"/></a></h5>

					

				</div>

				
				<div class="social-links">
					<img id="social_img" src="{% static 'images/follow.jpg' %}"> <br> <br>
					<!-- <h4>Find me on <a class="badge-base__link LI-simple-link" href="https://ke.linkedin.com/in/levy-omolo-43236222a?trk=profile-badge"><img src="https://img.icons8.com/external-justicon-flat-justicon/64/000000/external-linkedin-social-media-justicon-flat-justicon.png" alt="" height="30px" width="30px"> Levy Omolo</a></h4> -->
					<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="dark" data-type="HORIZONTAL" data-vanity="levy-omolo-43236222a" data-version="v1">
						
					</div>
              
					<h3>Find me on Twitter & Github</h3>
					
					<a target="_blank" href="https://github.com/omololevy"><img src="/static/images/github.svg" alt="" height="30px" width="30px"><br> @Levy Cotech</a><br>
					<br>
					<a target="_blank" href="https://twitter.com/kaylor254"><img src="/static/images/twitter.svg" alt="" height="30px" width="30px"> <br> @kaylor254</a><br>
					

				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">My Sample Projects</h3>

			<div class="post-wrapper">
				{% for post in posts %}
				<div>
					<div class="post">
						<a href=" {{ post.livesite }}"><img class="thumbnail" src="{{post.thumbnail.url}}"></a>
						<div class="post-preview">
							<h6 class="post-title">{{post.headline}}</h6>
							<p class="post-intro">{{post.sub_headline}}</p>
							<a href="{%  url 'post' post.slug %}">Read More<b>...</b></a>
							<a href=" {{ post.livesite }}" style="float: right; margin-left: 5px;"><img src="https://img.icons8.com/color/48/000000/domain.png" alt="" height="30px" width="30px"/></a>
							<a href="{{ post.GitHub }} " style="float: right;"><img src="/static/images/github.svg" alt="" height="30px" width="30px"></a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			<p align="center">
				<a href="{% url 'posts' %}">View More<b>...</b></a>
			</p>
		</div>
	</section>
	

	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Contact Me</h3>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
				{% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input required class="input-field" type="text" name="name">

				<label>The Subject</label>
				<input required class="input-field" type="text" name="subject">

				<label>Email</label>
				<input required class="input-field" type="text" name="email">

				<label>The Message</label>
				<textarea required class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section> 



	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>
	<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>